.card-actor {
    height: 230px;
}

.actor-name {
    position: relative;
    top: 10px;
    color: black;
    font-size: 15px;
}

.character-name {
    position: relative;
    top: 20px;
    color: grey;
    font-style: italic;
    font-size: 10px;
}